pyrogram
tgcrypto
stripe
pymongo
bs4
pyromod
httpx
fake_useragent
speedtest-cli
psutil
httpcore
cryptography
pytz
openai
pycountry
beautifulsoup4
countryinfo
faker
random-username
requests
python-telegram-bot
trafilatura